# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# vscode
.vscode

# node_modules
node_modules/
**/node_modules/**
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# environment files
**.env**

npm-debug.*
*.jks
*.jks.bak
*.p12
*.key
*.mobileprovision

# osx
.DS_Store

# node.js
npm-debug.log

# docs
docs/docs.json
docs/output.json

# expo & ts
.expo/*
.expo-shared/
dist

# webpack output files
**/public/**
!server/public/index.html
!server/public/manifest.json
